{% extends "admin/base.html" %}
{% load static %}
{% block title %}
Admin | View Wardens
{% endblock title %}
{% block body %}

<h1 style="text-align: center;">LIST OF WARDENS</h1>
<a href="{% url 'admin_add_warden' %}" class="btn btn-success" style="margin-left: 10px;">Add new warden</a>

<div class="container" style="margin-top: 10px;">
    <!-- Active Wardens Section -->
    {% if not active_warden_details %}
    <h2>Active Wardens - Nil</h2>
    <div class="row">
    {% else %}
    <div class="row">
        {% for i in active_warden_details %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card" style="width: 100%;">
                    {% if i.image %}
                        <img class="card-img-top" src="{{ i.image.url }}" style="height: 200px; width: 100%; object-fit: cover;">
                    {% else %}
                        <img class="card-img-top" src="{% static 'image.png' %}" style="height: 200px; width: 100%; object-fit: cover;">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">NAME: {{ i.name|capfirst }}</h5>
                        <p class="card-text">PHONE: {{ i.phone }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">ADDRESS: {{ i.address }}</li>
                            <li class="list-group-item">HOSTEL: <b>{{ i.HOSTEL.name }}</b></li>
                            <li class="list-group-item">HOSTEL NUMBER: <b>{{ i.HOSTEL.number }}</b></li>
                        </ul>
                        <div class="mt-auto text-center">
                            <a href="{% url 'admin_edit_warden' i.id %}" class="btn btn-primary">Edit</a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#retireModal{{ i.id }}">Retire Warden</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for Retiring Warden -->
            <div class="modal fade" id="retireModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="retireModalLabel{{ i.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="retireModalLabel{{ i.id }}">Retire Warden: {{ i.name|capfirst }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="POST" action="{% url 'admin_retire_warden' i.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <p>Are you sure you want to retire <b>{{ i.name }}</b>?</p>
                                <div class="form-group">
                                    <label for="retireReason{{ i.id }}">Reason for retirement:</label>
                                    <textarea class="form-control" id="retireReason{{ i.id }}" name="retirement_reason" rows="3" required></textarea> <!-- Correct field name -->
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Confirm Retirement</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Retired Wardens Section -->
    <h2>Retired Wardens</h2>
    <div class="row">
        {% for retired in retired_warden_details %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex align-items-stretch">
                <div class="card" style="width: 100%;">
                    {% if retired.image %}
                        <img class="card-img-top" src="{{ retired.image.url }}" style="height: 200px; width: 100%; object-fit: cover;">
                    {% else %}
                        <img class="card-img-top" src="{% static 'image.png' %}" style="height: 200px; width: 100%; object-fit: cover;">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">NAME: {{ retired.name|capfirst }}</h5>
                        <p class="card-text">PHONE: {{ retired.phone }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">ADDRESS: {{ retired.address }}</li>
                            <li class="list-group-item">RETIREMENT DATE: <b>{{ retired.date_of_retirement }}</b></li>
                            <li class="list-group-item">REASON FOR RETIREMENT: <b>{{ retired.reason_for_retirement }}</b></li>
                        </ul>
                        <div class="mt-auto text-center">
                            <p class="text-muted">Retired</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
